<section class="banner-section">
  <div class="carousel" data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": true, "pageDots": false }'>
    {% for block in section.blocks %}
    <div class="carousel-cell">
        <img class="mobile-hide" src="{{ block.settings.banner_img | img_url : 'master' }}" alt="">
      
        <img class="mobile-show" src="{{ block.settings.banner_img1 | img_url : 'master' }}" alt="">
      
    </div>
    {% endfor %}    
  </div>
</section>


{% schema %}
{
"name": "Home Slider",
"settings": [
  
],
"blocks": [
  {
    "type": "slider",
    "name": "Slider",
    "settings": [
      {
        "id": "banner_img",
        "type": "image_picker",
        "label": "Slider Image Desktop"
      },
       {
        "id": "banner_img1",
        "type": "image_picker",
        "label": "Slider Image Mobile"
      }
    ]
  }
],
"presets": [
  {
    "name": "Slideshow"
  }
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
