<section class="home-popular-parts">
  <div class="home-part-hedding">
    <h5>{{ section.settings.title }} </h5>
    
  </div>
  <div class="popular-part-main">
    {% for block in section.blocks %}
    <div class="part_bx"> 
      <a href="{{ block.settings.link }}">
      <div class="icon">
        <img src="{{ block.settings.icon_img | img_url : 'master' }}" alt="">
      </div>
      <p>{{ block.settings.title }}</p>
      </a>
    </div>
    
    {% endfor %}      
  </div>
</section>
{% schema %}

{
  "name": "Home Popular Parts",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "parts",
      "name": "Parts",
      "settings": [
        {
          "id": "link",
          "type": "url",
          "label": "Select Link"
        },
        {
          "id": "icon_img",
          "type": "image_picker",
          "label": "Icon Image"
        },
        {
          "id": "title",
          "type": "text",
          "label": "Icon Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home Popular Parts"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
