<div class="search-fridge-main">    
<p class="result-count">
  287 results for [insert here search terms used]
  </p>
  <div class="search-within search_model_number ">
      <h2 class="heading-within"> {{ section.settings.title2 }} </h2>   
    <div class="mobile-hide">
    <p class="base-two">For better results, enter your model or part number to narrow down your search.</p>
    <div class="add_extra-icon-text s700">      
      <div><a href="#"><img src="https://cdn.shopify.com/s/files/1/0601/8488/7543/files/icon2_2.png?v=1640849193" style="margin-right:10px;">How do I find my model number?</a></div>
    </div>
    </div>
    
    <div class="search-form-results">
    <p class="s700" style="margin-bottom: 5px;"><b>Search within these results</b></p>
   <form action="" method="get" role="search" class="find-search-form">          
    <input class="search-input-bx" type="search" name="q" placeholder="Search" aria-label="Search" autocomplete="off">
    <button type="submit" class="btn submit"><img src="//cdn.shopify.com/s/files/1/0601/8488/7543/t/5/assets/icon_bold.png?v=14985898541735511435" alt=""> </button>
      </form></div>
    
        <div class="mobile-show">
    <p class="base-two">For better results, enter your model or part number to narrow down your search.</p>
    <div class="add_extra-icon-text s700">      
      <div><a href="#"><img src="https://cdn.shopify.com/s/files/1/0601/8488/7543/files/icon2_2.png?v=1640849193" style="margin-right:10px;">How do I find my model number?</a></div>
    </div>
    </div>
     <div class="sort-right-results">
      <p>Filter results by part type</p>
    <select class="sort-by">
      <option value="">Select a part type</option>
      <option value="">Select a part type</option>
      <option value="">Select a part type</option>
    </select>
    </div>
    <div class="sort-right-align">
      <label><b>Sort By</b></label>
    <select class="sort-by">
      <option value="">Popularity</option>
      <option value="">A-Z</option>
      <option value="">Z-A</option>      
    </select>
    </div>
  </div>
  
  <div class="product-listing-section">
  	<div class="inner-section">

      <div class="semi-inner">
        <div class="left-image">
          <img src="https://cdn.shopify.com/s/files/1/0601/8488/7543/files/image_4.png?v=1640779275">
        </div>
        <div class="right-desc">
          <h3>Part Title (Usually Part Number)</h3>
          <ul>
            <li><b>Description:</b>     Remote Control</li>
            <li><b>Specifications:</b>     2011 TV,Samsung,44KEY,3V,Amer</li>
            <li><b>Availability:</b>     Usually ships within 3-5 business days</li>
          </ul>
          <h3>$99.99</h3>
          <div class="shop-button">
            <a href="#">VIEW</a>
            <a href="#">ADD TO CART</a>
          </div>
        </div>
      </div>
            <div class="semi-inner">
        <div class="left-image">
          <img src="https://cdn.shopify.com/s/files/1/0601/8488/7543/files/image_4.png?v=1640779275">
        </div>
        <div class="right-desc">
          <h3>Part Title (Usually Part Number)</h3>
          <ul>
            <li><b>Description:</b>     Remote Control</li>
            <li><b>Specifications:</b>     2011 TV,Samsung,44KEY,3V,Amer</li>
            <li><b>Availability:</b>     Usually ships within 3-5 business days</li>
          </ul>
          <h3>$99.99</h3>
           <div class="shop-button">
            <a href="#">VIEW</a>
            <a href="#">ADD TO CART</a>
          </div>
        </div>
      </div>
            <div class="semi-inner">
        <div class="left-image">
          <img src="https://cdn.shopify.com/s/files/1/0601/8488/7543/files/image_4.png?v=1640779275">
        </div>
        <div class="right-desc">
          <h3>Part Title (Usually Part Number)</h3>
          <ul>
            <li><b>Description:</b>     Remote Control</li>
            <li><b>Specifications:</b>     2011 TV,Samsung,44KEY,3V,Amer</li>
            <li><b>Availability:</b>     Usually ships within 3-5 business days</li>
          </ul>
          <h3>$99.99</h3>
           <div class="shop-button">
            <a href="#">VIEW</a>
            <a href="#">ADD TO CART</a>
          </div>
        </div>
      </div>
            <div class="semi-inner">
        <div class="left-image">
          <img src="https://cdn.shopify.com/s/files/1/0601/8488/7543/files/image_4.png?v=1640779275">
        </div>
        <div class="right-desc">
          <h3>Part Title (Usually Part Number)</h3>
          <ul>
            <li><b>Description:</b>     Remote Control</li>
            <li><b>Specifications:</b>     2011 TV,Samsung,44KEY,3V,Amer</li>
            <li><b>Availability:</b>     Usually ships within 3-5 business days</li>
          </ul>
          <h3>$99.99</h3>
           <div class="shop-button">
            <a href="#">VIEW</a>
            <a href="#">ADD TO CART</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>




{% schema %}
  {
    "name": "Main Search Fridge",
    "settings": [
       

        {
        "id": "title",
        "type": "text",
        "label": "Heading"
        },
         {
        "id": "title2",
        "type": "html",
        "label": "Heading Search Within", 
        "default" : "Search <span>within</span> RF28K9071257"
        }   

    ]
  }
{% endschema %}

{% stylesheet %}
.carousel-search-diagrams .items-inner {
    margin: 8px;
 text-align:center;
}
.carousel-search-diagrams .slick-arrow {
    width: 15px;
    height: 26px;
}
.carousel-search-diagrams .slick-arrow:before{
display:none
}
.carousel-search-diagrams .slick-arrow {
    background-image: url(https://cdn.shopify.com/s/files/1/0601/8488/7543/files/arrow-right.png?v=1640847533);
   background-repeat: no-repeat;
}
.carousel-search-diagrams button.slick-prev.slick-arrow {
    transform: rotate(180deg);
}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}

<script>

  
  $('.carousel-search-diagrams').slick({
   slidesToShow: 6,
   slidesToScroll: 1,
   arrows:true,
   dots: false,
   focusOnSelect: true,
     responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 5,
            slidesToScroll: 2,
            adaptiveHeight: true,
          },
        },
        {
          breakpoint: 990,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 1,
          },
        },
        {
          breakpoint: 767,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 1,
          },
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
          },
        },
      ]
 });
  
</script>

